#Nav{
  width: 100%;
  display: block;
  font-size: 25px;
}
.navDiv{
  height:15%;
  margin: 5px 5px 15px 5px;
  display: flex;
  flex-wrap: wrap;
}
#navSites{
  background-color: rgb(22, 22, 22);
  margin: 0;
  padding: 0;
}

.highlightNav{
  border: solid rgb(224, 67, 36) 1px;
  /* background: rgb(224, 67, 36); */
}
.navChoices{
  border-radius: 6px;
  margin: 0 auto;
  padding: 25px 10px;
}
.navChoices:hover{
  background-color:rgba(224, 67, 36, 0.7);
}
.navChoices a{
  padding: 3px 12px;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
}
@media screen and (max-width: 800px) {
  #Nav{
    font-size: 18px;
  }
  .navDiv{
    height:12%;
    margin: 2px 2px 8px 2px;
  }
  .navChoices{
    padding: 15px 3px;
  }
}
@media screen and (max-width: 600px) {
  #Nav{
    font-size: 15px;
  }
  .navDiv{
    height:10%;
    margin: 0;
  }
  .navChoices{
    padding: 10px 2px;
  }
}
