form{
  margin: auto;
}
#search-input{
  display: block;
  width: 89%;
  height: 60px;
  margin: auto;
  font-size: 30px;
  text-indent: 10px;
  color: cadetblue;
  outline: none;
  /* border:none; */
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: solid rgb(224, 67, 36) 1px;
  /* border-radius: 15px; */
  letter-spacing: 2px;
  background-color: black;
  color: white;
  text-align: center;
}
#search-input::placeholder{
  color: gray;
  text-align: left;
}
.breaker{
  width: 100%;
  height:3px;
  color: black;
}
#search{
  /* position: fixed; */
  /* height: 85%; */
  width: 100%;
  background-color: black;
  color:white;
}
.myPos{
  display: block;
  /* width: 100%; */
  padding:30px;
  border-radius: 50px;
  margin: 50px auto 0;
  background: rgb(224, 67, 36);
  font-size: 30px;
  letter-spacing: 8px;
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
.myPos:hover{
  animation: infinite 1s shake-left;
}
@keyframes shake-left {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0 40%;
            transform-origin: 0 40%;
  }
  10% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  90% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
.hideMe{
  display: none;
}
