::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    /* background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: black;
}
.App{
  display: block;
  flex-wrap: wrap;
  overflow-x: hidden;
  height:100vh;
  color: white;  
  /* background: black; */
}
